contentops/workflows/optional-local-ollama-intake.json
{
  "name": "Newtuple Content Intake MVP (Local LLM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "={{$env.CONTENTOPS_SHEET_ID}}",
        "sheetName": "Sheet1",
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "new"
            }
          ]
        }
      },
      "id": "sheet-read",
      "name": "Read New Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [430, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "__SET_IN_N8N__",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $json;\nconst prompt = `Generate one LinkedIn draft in Newtuple voice. Return JSON only, no markdown. Keys: title, hook, post_body, cta, bucket, hashtags.\\nInput: ${JSON.stringify({ idea_id: row.idea_id, source_type: row.source_type, source_text: row.raw_input, target_bucket: row.bucket || 'Founder Notes' })}`;\nreturn [{ json: { ...row, llm_prompt: prompt } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [870, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OLLAMA_BASE_URL || 'http://host.docker.internal:11434'}}/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": $env.OLLAMA_MODEL || \"llama3.1:8b\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Newtuple content drafter. Output valid JSON only.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $json.llm_prompt\n    }\n  ]\n}",
        "options": {}
      },
      "id": "generate-draft-local",
      "name": "Generate Draft (Local)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1110, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.message?.content || '{}';\nconst clean = raw.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\nlet parsed;\ntry { parsed = JSON.parse(clean); } catch (e) { parsed = { title: 'Draft parse warning', hook: '', post_body: clean, cta: '', bucket: 'Founder Notes', hashtags: [] }; }\nconst row = $item(0).$node['Build Prompt'].json;\nreturn [{ json: { ...row, draft: parsed } }];"
      },
      "id": "parse-json",
      "name": "Parse Draft JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1330, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{$env.CONTENTOPS_SHEET_ID}}",
        "sheetName": "Sheet1",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idea_id": "={{$json.idea_id}}",
            "title": "={{$json.draft.title}}",
            "draft_text": "={{$json.draft.post_body}}",
            "bucket": "={{$json.draft.bucket || $json.bucket || 'Founder Notes'}}",
            "status": "needs_review"
          },
          "matchingColumns": ["idea_id"],
          "schema": [
            {
              "id": "idea_id",
              "displayName": "idea_id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-update",
      "name": "Update Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1550, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "__SET_IN_N8N__",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"*Draft Ready*\\nIdea: \" + $json.idea_id + \"\\nBucket: \" + ($json.draft.bucket || 'Founder Notes') + \"\\nTitle: \" + ($json.draft.title || '') + \"\\n\\nHook:\\n\" + ($json.draft.hook || '') + \"\\n\\nDraft:\\n\" + ($json.draft.post_body || '') + \"\\n\\nUse slash command: /content-review <idea_id> approve|revise|reject <notes>\"\n}"
      },
      "id": "slack-send",
      "name": "Send Slack Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1770, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {"main": [[{"node": "Read New Rows", "type": "main", "index": 0}]]},
    "Read New Rows": {"main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]},
    "Split In Batches": {"main": [[{"node": "Build Prompt", "type": "main", "index": 0}]]},
    "Build Prompt": {"main": [[{"node": "Generate Draft (Local)", "type": "main", "index": 0}]]},
    "Generate Draft (Local)": {"main": [[{"node": "Parse Draft JSON", "type": "main", "index": 0}]]},
    "Parse Draft JSON": {"main": [[{"node": "Update Tracker", "type": "main", "index": 0}]]},
    "Update Tracker": {"main": [[{"node": "Send Slack Review", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "newtuple-content-intake-local-v1",
  "id": "newtuple-content-intake-local",
  "tags": [
    {"name": "newtuple"},
    {"name": "zero-cost"}
  ]
}
